@import "functions";

@mixin btn(){
  color:white;
  padding:5px 10px;
  border:0;
  display:inline-block;
  text-decoration: none;
  @include border-radius(5% 5%);

  &:hover{
    @include box-shadow(rgba(0,0,0,0.2)0 0 6px 2px);

  }
}
@mixin c( $nNumber ) {

  width: col( $nNumber );
  margin-left: 0;
  display:block;
  float:none; 
  box-sizing:border-box;

  &:after{
    content:"";
    clear:both;
  }
}
@mixin cf( $nNumber ) {

  width: col( $nNumber );
  display:block;
  float:none;
  box-sizing:border-box;
  &:after{
    content:"";
    clear:both;
  }
}

@mixin cl( $nNumber ) {

  width: col( $nNumber );
  margin-left: gutter();
  float:left;
  display:block;
  box-sizing:border-box;
  &:after{
    content:"";
    clear:both;
  }
}
@mixin offsetL( $nNumber ) {

  margin-left: col( $nNumber );
}
@mixin offsetR( $nNumber ) {

  margin-right: col( $nNumber );
}
@mixin cfl( $nNumber ) {

  width: col( $nNumber );
  float:left;
  display:block;
  box-sizing:border-box;
  &:after{
    content:"";
    clear:both;
  }
}

@mixin cr( $nNumber ) {

  width: col( $nNumber );
  margin-left: gutter();
  float:right;
  display:block;
  box-sizing:border-box;
  &:after{
    content:"";
    clear:both;
  }
}
@mixin cfr( $nNumber ) {

  width: col( $nNumber );
  float:right;
  display:block;
  box-sizing:border-box;
  &:after{
    content:"";
    clear:both;
  }
}
@mixin clear(){
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
@mixin cc( $nNumber ) {
  display:block;
  width: col( $nNumber );
  margin: auto;
  text-align: center;
  float:none;
  box-sizing:border-box;
  &:after{
    content:"";
    clear:both;
  }
}
/*l * 100 / 1024*/
