@import "compass";

$black:rgb(100,100,100);

$lightBlack:rgba(100,100,100,0.4);

$blackMain: #333333;

$gMain : rgb(20,200,30);

$cacaA : rgba(202,202,202,0.9);

$caca : rgb(202,202,202);

$blue: rgb(10,60,70);

$lBlue: rgb(10,100,200);

/* CONFIG */
$mw:1200px;

$nMw: 1200;

$gutter: 24px;

$nbG:1.618; // nombre d'or

$bh:1px solid #eee;
/* typography */

$ff: palatino, 'palatino lt std', 'palatino linotype', 'book antiqua', garamond, serif;

$ff2: helvetica, 'Helvetica Neue', Arial, sans-serif;

$ffi: FontAwesome;

$fs:15px; //font-size

$lh:1.5; //line-height

$tc: rgb(68,68,68); //text-color 333333

$menu: #f7f7f4;

$success :rgb(20,180,50);

$error: rgb(180,20,40);

$errorBackground: lighten(red,40%);

$infosBackground: lighten(yellow,40%);

$succesBackground: lighten(green,60%);
/* END typography */

/*media*/
$m1:600px;

$m2:1000px;

$m2:1200px;
/*END MEDIA*/

/*COLOR*/
//$mc: #2e70ea; //main color
$mc: lighten(red,15%);

$mcc: darken($mc,20%);

$footer: #353535;


$blueH : darken(#5382d9,10%);

$grey : #7c7c7c;

$greyH: darken(#494949,10%);

$greyA: #626262;

$greyL: #F2F2F2;

$greyDB:#2d292a;

$greyL2: darken(#F2F2F2,20%);

$greyL2H: darken($greyL2,10%);

$greyD:#737373;

$greyDH:darken($greyD,10%);

$greyD2:darken(#737373,5%);

$greyD2H:darken($greyD2,10%);