@import "compass";

$mWidth: 1200px;

$black:rgb(100,100,100);

$lightBlack:rgba(100,100,100,0.4);

$blackMain: #333333;

$gMain : rgb(20,200,30);

$cacaA : rgba(202,202,202,0.9);

$caca : rgb(202,202,202);

$blue: rgb(10,60,70);

$lBlue: rgb(10,100,200);